<p id="notice"><%= notice %></p>

<h1>Tech Projects</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Tech image</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tech_projects.each do |tech_project| %>
      <tr>
        <td><%= tech_project.title %></td>
        <td><%= tech_project.tech_image %></td>
        <td><%= tech_project.description %></td>
        <td><%= link_to 'Show', tech_project %></td>
        <td><%= link_to 'Edit', edit_tech_project_path(tech_project) %></td>
        <td><%= link_to 'Destroy', tech_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tech Project', new_tech_project_path %>
